@inherits LayoutComponentBase
@using Common;
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
<PageTitle>TestReviews</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
            <Authorized>
                <a href="/" @onclick="(() => Logout())">Выйти</a>
            </Authorized>
            <NotAuthorized>
                <a href="/login">Войти</a>
            </NotAuthorized>
        </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    public async Task Logout()
    {
        await ((CustomProvider)AuthenticationStateProvider).UserAsLoggedOut();
        NavigationManager.NavigateTo("");
    }
}